{% extends 'base.html' %} 
{% block title %}Добавить адрес{% endblock %} 
{% block content %}
<div class="container">
  <div class="col-12 col-md-8 mx-auto">
    <h3 class="text-center" style="color: red">Добавить или изменить адрес</h3>
    <p class="text-center">
      Добавьте новый <b>адресс</b> и детали <b>доставки</b>
    </p>
    <hr />
    <form enctype="multipart/form-data" method="post">
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        Ошибка! Попробуйте еще раз!
      </div>
      {% endif %} 
      {% csrf_token %}
      <div class="form-floating mb-3 w-100">
        {{form.full_name}}
        <label class="form-label" for="floatingName"
          ><span class="text-muted small">{{form.full_name.label}}</span></label
        >
      </div>
      <div class="form-floating mb-3 w-100">
        {{form.address_line}}
        <label for="floatingAddress" class="form-label"><span class="text-muted small">{{form.address_line.label}}</span></label>
      </div>
      <div class="form-floating mb-3 w-100">
        {{form.town_city}}
        <label for="floatingCity" class="form-label"><span class="text-muted small">{{form.town_city.label}}</span></label>
      </div>
      <div class="form-floating mb-3 w-100">
        {{form.phone}}
        <label for="floatingPhone" class="form-label"><span class="text-muted small">{{form.phone.label}}</span></label>
      </div>
      <div class="form-floating mb-3 w-100">
        {{form.postcode}}
        <label for="floatingPostcode" class="form-label"><span class="text-muted small">{{form.postcode.label}}</span></label>
      </div>
      <button class="btn btn-success btn-block fw-bold w-100 py-2 mt-4 mb-4">Добавить адрес</button>
    </form>
  </div>
</div>
{% endblock %}
