{% load static %}

<footer class="footer">
  <div class="container">
    <div class="row" style="background:#dbf0f1;">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-1 mx-auto footer__top">
        <span class="col">О нас</span>
        <span class="col">Оплата</span>
        <span class="col">Доставка</span>
        <span class="col">Оптом</span>
        <span class="col">Помощь</span>
        <span class="col">Контакты</span>
      </div>
      <div class="col-12 footer__center">
        <div class="header__bottom__search col-lg-7 col-md-7">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Введите свой email"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
            <button class="btn btn-warning" type="button" id="button-addon2">
              Подписаться
            </button>
          </div>
        </div>
        <div class="img__container" col-lg-5 col-md-5>
            <img src="{% static 'assets/visa-mastercard-logos.png' %}" alt="visa">
        </div>
      </div>
    </div>
  </div>
</footer>
