{% load static %}
<div class="col-lg-4 col-md-4">
    <div class="sidebar__item__popular">
        <div class="sidebar__header">
            <h5>ПОПУЛЯРНЫЕ ТОВАРЫ</>
        </div>
        <div class="sidebar__card">
            <div class="sidebar__card__item">
                <img src="{% static 'assets/main_carousel.jpeg' %}" alt="">
                <div class="sidebar__card__item__detail">
                    <p>Название книги</p>
                    <span class="price">300 грн</span>
                </div>
            </div>
        </div>
        <hr class="ms-3 me-3">
        <div class="sidebar__card">
            <div class="sidebar__card__item">
                <img src="{% static 'assets/main_carousel.jpeg' %}" alt="">
                <div class="sidebar__card__item__detail">
                    <p>Название книги</p>
                    <span class="price">300 грн</span>
                </div>
            </div>
        </div>
        <hr class="ms-3 me-3">
        <div class="sidebar__card">
            <div class="sidebar__card__item">
                <img src="{% static 'assets/main_carousel.jpeg' %}" alt="">
                <div class="sidebar__card__item__detail">
                    <p>Название книги</p>
                    <span class="price">300 грн</span>
                </div>
            </div>
        </div>
        <hr class="ms-3 me-3">
        <div class="sidebar__card">
            <div class="sidebar__card__item">
                <img src="{% static 'assets/main_carousel.jpeg' %}" alt="">
                <div class="sidebar__card__item__detail">
                    <p>Название книги</p>
                    <span class="price">300 грн</span>
                </div>
            </div>
        </div>
    </div>
</div>