{% extends 'base.html' %} {% load static %} {% block content %}

<div class="books mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="d-none d-md-block">
        <div
          class="big__menu__right__header w-100"
          style="margin-top: -45px; margin-bottom: 30px"
        >
          <ul>
            <li>ПОДАРИТЬ КНИГУ</li>
            <li>НОВИНКИ</li>
            <li>БЕСТСЕЛЛЕРЫ</li>
            <li>ХИТЫ ПРОДАЖ</li>
            <li>БЛОГ</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      {% include 'bookstore/sidebar_filter.html' %}
      <div class="col-md-9 col-lg-9">
        <div class="col-12 books__header">
          <div class="books__header__category">
            <span>Современные авторы</span>
          </div>

          <div class="books__header__selector">
            <h5>Сортировать по:</h5>
            <form action="">
              <select name="sort" id="selectProductSort" class="form-control">
                <option value="">В наличии</option>
                <option value="">По популярности</option>
                <option value="">Цена: от дешевых к дорогим</option>
                <option value="">Цена: от дорогих к дешевым</option>
              </select>
            </form>
          </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4">
              <div class="card">
                <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
                <div class="card-body">
                  <h6 class="card-title">
                    Книга Бегущая с волками. Женский архетип в мифах и сказаниях
                  </h6>
                  <div class="product__price">
                    <span>Цена:</span>
                    <div class="price">330 грн</div>
                  </div>
                  <a role="button" href="#" class="btn btn-warning">В корзину</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
                <div class="card-body">
                  <h6 class="card-title">
                    Книга Бегущая с волками. Женский архетип в мифах и сказаниях
                  </h6>
                  <div class="product__price">
                    <span>Цена:</span>
                    <div class="price">330 грн</div>
                  </div>
                  <a role="button" href="#" class="btn btn-warning">В корзину</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
                <div class="card-body">
                  <h6 class="card-title">
                    Книга Бегущая с волками. Женский архетип в мифах и сказаниях
                  </h6>
                  <div class="product__price">
                    <span>Цена:</span>
                    <div class="price">330 грн</div>
                  </div>
                  <a role="button" href="#" class="btn btn-warning">В корзину</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
                <div class="card-body">
                  <h6 class="card-title">
                    Книга Бегущая с волками. Женский архетип в мифах и сказаниях
                  </h6>
                  <div class="product__price">
                    <span>Цена:</span>
                    <div class="price">330 грн</div>
                  </div>
                  <a role="button" href="#" class="btn btn-warning">В корзину</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
                <div class="card-body">
                  <h6 class="card-title">
                    Книга Бегущая с волками. Женский архетип в мифах и сказаниях
                  </h6>
                  <div class="product__price">
                    <span>Цена:</span>
                    <div class="price">330 грн</div>
                  </div>
                  <a role="button" href="#" class="btn btn-warning">В корзину</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
                <div class="card-body">
                  <h6 class="card-title">
                    Книга Бегущая с волками. Женский архетип в мифах и сказаниях
                  </h6>
                  <div class="product__price">
                    <span>Цена:</span>
                    <div class="price">330 грн</div>
                  </div>
                  <a role="button" href="#" class="btn btn-warning">В корзину</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
                <div class="card-body">
                  <h6 class="card-title">
                    Книга Бегущая с волками. Женский архетип в мифах и сказаниях
                  </h6>
                  <div class="product__price">
                    <span>Цена:</span>
                    <div class="price">330 грн</div>
                  </div>
                  <a role="button" href="#" class="btn btn-warning">В корзину</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card">
                <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
                <div class="card-body">
                  <h6 class="card-title">
                    Книга Бегущая с волками. Женский архетип в мифах и сказаниях
                  </h6>
                  <div class="product__price">
                    <span>Цена:</span>
                    <div class="price">330 грн</div>
                  </div>
                  <a role="button" href="#" class="btn btn-warning">В корзину</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
