{% extends 'base.html' %} 
{% load static %} 
{% block content %} 

{% include 'bookstore/big__menu.html' %}

<div class="home">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-4 g-3">
      {% for book in book_list %}
      <div class="col">
        
           <div class="card h-100">
            <a href="{{ book.get_absolute_url }}">
               <img class="card-img-top" src="{{ book.image.url }}" alt="test" />
            </a>
         
          <div class="card-body d-flex flex-column justify-content-between">
            <h6 class="card-title">
              {{ book.title }}
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">{{book.price}} грн</div>
            </div>
          </div>
             <div class="card-footer mt-0" style="background: none; border:none">
                 <a role="button" href="#" class="btn btn-warning" style="width: 100%;">В корзину</a>
             </div>
         </div>
      
       
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'detail.html' %}

{% endblock %}