{% extends 'base.html' %} 
{% load static %} 
{% block content %} 

{% include 'bookstore/big__menu.html' %}

<div class="home">
  <div class="container">
    <div class="row mt-4">
      <div class="col-sm-3">
        <div class="card">
          <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
          <div class="card-body">
            <h6 class="card-title">
              Книга Бегущая с волками. Женский архетип в мифах и сказаниях
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">330 грн</div>
            </div>
            <a role="button" href="#" class="btn btn-warning">В корзину</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
          <div class="card-body">
            <h6 class="card-title">
              Книга Бегущая с волками. Женский архетип в мифах и сказаниях
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">330 грн</div>
            </div>
            <a role="button" href="#" class="btn btn-warning">В корзину</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
          <div class="card-body">
            <h6 class="card-title">
              Книга Бегущая с волками. Женский архетип в мифах и сказаниях
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">330 грн</div>
            </div>
            <a role="button" href="#" class="btn btn-warning">В корзину</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
          <div class="card-body">
            <h6 class="card-title">
              Книга Бегущая с волками. Женский архетип в мифах и сказаниях
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">330 грн</div>
            </div>
            <a role="button" href="#" class="btn btn-warning">В корзину</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
          <div class="card-body">
            <h6 class="card-title">
              Книга Бегущая с волками. Женский архетип в мифах и сказаниях
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">330 грн</div>
            </div>
            <a role="button" href="#" class="btn btn-warning">В корзину</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
          <div class="card-body">
            <h6 class="card-title">
              Книга Бегущая с волками. Женский архетип в мифах и сказаниях
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">330 грн</div>
            </div>
            <a role="button" href="#" class="btn btn-warning">В корзину</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
          <div class="card-body">
            <h6 class="card-title">
              Книга Бегущая с волками. Женский архетип в мифах и сказаниях
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">330 грн</div>
            </div>
            <a role="button" href="#" class="btn btn-warning">В корзину</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <img src="{% static 'assets/test_book_img.webp' %}" alt="test" />
          <div class="card-body">
            <h6 class="card-title">
              Книга Бегущая с волками. Женский архетип в мифах и сказаниях
            </h6>
            <div class="product__price">
              <span>Цена:</span>
              <div class="price">330 грн</div>
            </div>
            <a role="button" href="#" class="btn btn-warning">В корзину</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'detail.html' %}

{% endblock %}
