{% load static %}
<div class="col-lg-3 col-md-3">
  <div class="sidebar__item__popular">
    <div class="sidebar__header">
      <h5>ФИЛЬТР ТОВАРОВ</h5>
    </div>
    <div class="sidebar__filter__item">
      <label for="categoryDatalist" class="form-label filter__label"
        >Категория</label
      >
      <hr />
      <input
        id="categoryDatalist"
        class="form-control filter__input"
        list="datalistOptions"
        placeholder="Введите значение..."
      />
      <datalist id="datalistOptions" class="text-center">
        <option value="Современные авторы"></option>
        <option value="Фантастика"></option>
        <option value="Триллеры"></option>
        <option value="Любовный роман"></option>
        <option value="Детективы"></option>
      </datalist>
    </div>
    <div class="sidebar__filter__item">
      <label for="categoryDatalist" class="form-label filter__label"
        >Издательство</label
      >
      <hr />
      <input
        id="categoryDatalist"
        class="form-control filter__input"
        list="datalistOptions"
        placeholder="Введите значение..."
      />
      <datalist id="datalistOptions">
        <option value="Современные авторы"></option>
        <option value="Фантастика"></option>
        <option value="Триллеры"></option>
        <option value="Любовный роман"></option>
        <option value="Детективы"></option>
      </datalist>
    </div>
    <div class="sidebar__filter__item">
      <label for="categoryDatalist" class="form-label filter__label"
        >Обложка</label
      >
      <hr />
      <input
        id="categoryDatalist"
        class="form-control filter__input"
        list="datalistOptions"
        placeholder="Введите значение..."
      />
      <datalist id="datalistOptions">
        <option value="Современные авторы"></option>
        <option value="Фантастика"></option>
        <option value="Триллеры"></option>
        <option value="Любовный роман"></option>
        <option value="Детективы"></option>
      </datalist>
    </div>
    <div class="sidebar__filter__item">
      <label for="categoryDatalist" class="form-label filter__label"
        >Бумага</label
      >
      <hr />
      <input
        id="categoryDatalist"
        class="form-control filter__input"
        list="datalistOptions"
        placeholder="Введите значение..."
      />
      <datalist id="datalistOptions">
        <option value="Современные авторы"></option>
        <option value="Фантастика"></option>
        <option value="Триллеры"></option>
        <option value="Любовный роман"></option>
        <option value="Детективы"></option>
      </datalist>
    </div>
    <div class="sidebar__filter__item">
      <label for="categoryDatalist" class="form-label filter__label"
        >Язык</label
      >
      <hr />
      <input
        id="categoryDatalist"
        class="form-control filter__input"
        list="datalistOptions"
        placeholder="Введите значение..."
      />
      <datalist id="datalistOptions">
        <option value="Современные авторы"></option>
        <option value="Фантастика"></option>
        <option value="Триллеры"></option>
        <option value="Любовный роман"></option>
        <option value="Детективы"></option>
      </datalist>
    </div>
    <div class="sidebar__filter__item">
      <label for="categoryDatalist" class="form-label filter__label"
        >Иллюстрации</label
      >
      <hr />
      <input
        id="categoryDatalist"
        class="form-control filter__input"
        list="datalistOptions"
        placeholder="Введите значение..."
      />
      <datalist id="datalistOptions">
        <option value="Современные авторы"></option>
        <option value="Фантастика"></option>
        <option value="Триллеры"></option>
        <option value="Любовный роман"></option>
        <option value="Детективы"></option>
      </datalist>
    </div>
    <div class="sidebar__filter__item">
      <label for="categoryDatalist" class="form-label filter__label"
        >Возраст</label
      >
      <hr />
      <input
        id="categoryDatalist"
        class="form-control filter__input"
        list="datalistOptions"
        placeholder="Введите значение..."
      />
      <datalist id="datalistOptions">
        <option value="Современные авторы"></option>
        <option value="Фантастика"></option>
        <option value="Триллеры"></option>
        <option value="Любовный роман"></option>
        <option value="Детективы"></option>
      </datalist>
    </div>
  </div>
</div>
