{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<div class="single__book mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div
        class="big__menu__right__header w-100"
        style="margin-top: -45px; margin-bottom: 30px"
      >
        <ul>
          <li>ПОДАРИТЬ КНИГУ</li>
          <li>НОВИНКИ</li>
          <li>БЕСТСЕЛЛЕРЫ</li>
          <li>ХИТЫ ПРОДАЖ</li>
          <li>БЛОГ</li>
        </ul>
      </div>
      {% include 'bookstore/include/sidebar.html' %}
      <div class="col-md-8 col-lg-8">
        <div class="row justify-content-between">
          <div class="col-md-4 col-lg-4 align-self-center">
            <img class="card-img-top" src="{{ book.image.url }}" alt="img" />
          </div>
          <div class="col-md-8 col-lg-8">
            <div class="single__book__wrapper" style="margin-left: 40px">
              <div class="single__book__header">
                <h4 class="text-start">{{ book.title }}</h4>
                {% if book.user_wishlist.exists %}
               <a role="button" class="btn btn-danger" href="{% url 'account:user_wishlist' book.id %}">Удалить</a>
               {% else %}
               <a role="button" class="btn btn-danger" href="{% url 'account:user_wishlist' book.id %}">В избранное</a>
               {% endif %}
              </div>
              
              <p class="single__book__author">{{ book.author }}</p>
              <div class="rating d-flex align-items-center">
                <div class="stars me-4">
                  <img src="{% static 'assets/starsrating.webp' %}" alt="">
                </div>
                <span class="comment text-muted">11 комментариев</span>
              </div>
              <div class="single__book__detail">
                <span class="pereplet">{{ book.get_binding_display }}</span>,
                <span class="single__book__detail__pages">{{ book.pages }}</span> страниц,
                <span class="single__book__detail__size">{{ book.size }} мм</span>
              </div>
              <hr />
              <div class="price__today">
                <span>Цена сегодня:</span>
                <span class="price">{{ book.get_discount_price }} грн</span>
                <button class="btn btn-warning">Купить</button>
              </div>
              <hr />
              <p class="discount">Скидка: <span>{{ book.discount }}%</span></p>
              <hr />
              <p class="regular__price">
                Регулярная цена: <span>{{ book.price }} грн</span>
              </p>
              <hr />
            </div>
          </div>
        </div>
        <div class="single__book__description">
          <h4 class="single__book__description__title">Описание книги</h4>
          <hr />
          <div class="single__book__description__about">
            <p>{{ book.description|safe }}</p>
            <div class="about__author">
              <h5>Об авторе:</h5>
              <p>{{ book.author.about|safe }}</p>
            </div>
          </div>
        </div>
          
        <div class="single__book__specific">
          <h4 class="single__book__description__title">Характеристики:</h4>
          <hr />
          {% for item in book.specifics.all %}
          <div class="single__book__specific__item">
            
            <div class="single__book__specific__item__left text-muted">
              {{ item.specification.name }}
            </div>
          
            <div class="single__book__specific__item__right">{{item.value}}</div>
          </div>
          {% endfor %}
         </div>
           <div class="comments">
          <div class="comments__header">
            <h4>Комментарии: <span>11</span></h4>
            <div class="product__rating">
              <span>Оценка товара:</span>
              <img src="{% static 'assets/starsrating.webp' %}" alt="stars">
            </div>
          </div>
          <form action="" method="post">
            <textarea name="comment" id="comment" class="w-100" rows="6" placeholder="Ваш комментарий"></textarea>
            <button class="btn btn-warning" type="submit">Комментировать</button>
          </form>
          <div class="comment__item">
            <span class="comment__item__author">Игорь Петров</span>
            <p class="commnt__item__text">
              Хочу замовити цю книгу. Ідеальна для читання перед святами, вже
              навіть по обкладинці захотілося Нового року та Різдва.
            </p>
            <div class="comment__item__date">
                <span class="date text-muted">26 Окт 2022</span>
                <span class="day text-muted">12:44</span>
            </div>
          </div>
          <div class="comment__item">
            <span class="comment__item__author">Игорь Петров</span>
            <p class="commnt__item__text">
              Хочу замовити цю книгу. Ідеальна для читання перед святами, вже
              навіть по обкладинці захотілося Нового року та Різдва.
            </p>
            <div class="comment__item__date">
                <span class="date text-muted">26 Окт 2022</span>
                <span class="day text-muted">12:44</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}
