{% load i18n %} {% autoescape off %}
{% blocktranslate %}Вы получили это электронное письмо, потому что запросили сброс пароля для своей учетной записи пользователя на {{ site_name }}.{% endblocktranslate %}

{% translate "Перейдите по ссылке и выберите новый пароль:" %}
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'account:pwd_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Спасибо, что Вы с нами!" %}

{% blocktranslate %}С уважениум, комманда {{site_name}}{% endblocktranslate %}

{% endautoescape %}