{% extends 'base.html' %}
{% block content %}

<form class="mx-auto" action="{% url 'account:pwdreset' %}">
    <h3 class="text-center" style="color: red;">Забыли пароль?</h3>
    <p class="text-reset">Введите свой Email, чтобы получить новый пароль</p>
    {% if form.errors %}
        <div class="alert alert-primary" role="alert">
            Ошибка! Пожалуйста, попробуйте еще раз.
        </div>
    {% endif %}
    {% csrf_token %}
    <div class="mb-3">
        {{form.email}}
        <div class="d-md-flex justify-content-center">
            <button class="btn btn-warning mt-4" type="submit">Получить новый пароль</button>
        </div>
    </div>
    <div class="login__account">
        <span class="text-muted me-3">* Если Вы зарегистрированы, то войти на сайт можно здесь</span>
        <a href="{% url 'account:login' %}" role="button" class="btn btn-success">Войти</a>
      </div>
</form>

{% endblock %}