{% extends 'base.html' %}
{% block title %}Статус сброса пароля{% endblock %}

{% block content %} 

    <div class="container">
        <div class="d-flex justify-content-center">
            {% if 'email' in request.get_full_path %}
                <p style="font-size: 24px; color: red;">На ваш email отправлена ссылка с инструкциями для сброса пароля</p>
            {% endif %}
            {% if 'complete' in request.get_full_path %}
                <h3 class="mb-3">Пароль успешно обновлен</h3>
                <div class="login__account">
                    <span class="text-muted me-3">* Если Вы зарегистрированы, то войти на сайт можно здесь</span>
                    <a href="{% url 'account:login' %}" role="button" class="btn btn-warning">Войти</a>
                  </div>
            {% endif %}
        </div>
    </div>

{% endblock %}